/*Primeiras configuraçaoes*/
html{
    color: rgb(255, 255, 255);
    background: #ffffff;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    height: auto;
    width: 100%;
}

body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: rgb(58, 14, 71);
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(115, 28, 142);
    border-radius: 20px;
    border: 3px solid rgb(61, 14, 71);
}

/*Navegaçao*/
.nav{
    display: flex;
    position:fixed;
    width: 100%;
    height: 10%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding: 0px 15px;
    background-image: linear-gradient(#a000a9, #88888800);
}

.nav ul{
    display: flex;
    list-style-type: none;
    padding: 0px 25px;
    width: 100%;
    justify-content: flex-end;
}

.nav li{
    padding: 0px 10px;
}

.nav img{
    width: 90px;
    height: 23px;
}

.nav ul li p{
    color: #ffffff;
}

a, span{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/*Apps*/
.tela1{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 10px 0px;
}

.tela1 h2{
    padding: 25px 15px;
}

.tela1 ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;
    overflow-x: auto;
    flex-wrap:wrap;
    width: 100%;
    height: 70%;
}

.tela1 ul li{
    padding: 20px;
}

.tela1 ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tela1 ul li img, .im3{
    width: 125px;
    width: 125px;
    border-radius: 10%;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.493);
}

/*Infor*/
.tela2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.novo img{
    width: 118px;
    height: 29px;
}

.cont1{
    display: flex;
    flex-direction: column;
}

.novo, .ele{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
}

.ele .elefante{
    padding: 0px 5px;
    margin: 0px;
    color: #ffffff;
}

.ele h1, .novo h1{
    margin: 0px;
    color: #ffffff;
}

.tela3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

.if{
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.infor1 img{
    width: 154px;
    height: 323px;
    transform: rotate(-25deg);
    padding: 0px 60px;
}

.infor2 img{
    width: 154px;
    height: 323px;
    transform: rotate(25deg);
    padding: 0px 60px;
}

/*Rodape*/
.rodape{
    display: flex;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(#88888800, #a000a9);
}

span{
    padding: 2px;
}

.rodape a {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
}

.rodape p{
    padding: 0;
    margin: 0;
    display: flex;
}

/*Hovers*/
a:hover, .rodape p:hover, span:hover, nav p:hover{
    color: rgb(219, 39, 255);
}

.im1:hover, .im2:hover{
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.502);
}

.im3:hover{
    box-shadow: 10px 10px 10px rgba(154, 8, 187, 0.502);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.im4:hover{
    box-shadow: 10px 10px 10px rgba(185, 21, 21, 0.502);
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/*Regulador*/
@media screen and (max-width: 750px) {
    .Infor{
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    .tela2{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .ele{
        display: flex;
        padding: 0px 5px;
        margin: 0px;
        color: #9616a4;
        justify-content: center;
    }

}

@media screen and (max-width: 450px) {
    .tela1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
    }

}

@media screen and (max-width: 930px) {
    .tela3{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        width: 100%;
        flex-direction: column;
    }
    
    .if{
        display: flex;
        align-items: center;
        height: auto;
        width: 100%;
        justify-content: center;
    }

}