/*Primeiras configuraçaoes*/
html{
    color: white;
    background: #470E0E;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 12px;
}
  
body::-webkit-scrollbar-track {
    background: rgba(71, 14, 14, 1);
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgba(142, 28, 28, 1);
    border-radius: 20px;
    border: 3px solid rgba(71, 14, 14, 1);
}

/*Navegaçao*/
.nav{
    display: flex;
    position:fixed;
    width: 100%;
    height: 10%;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    padding: 0px 15px;
    background-image: linear-gradient(#470e0e, #88888800);
}

.nav ul{
    display: flex;
    list-style-type: none;
    padding: 0px 25px;
    width: 100%;
    justify-content: flex-end;
}

.nav li{
    padding: 0px 10px;
}

.nav img{
    height: 40px;
}

.nav ul li p{
    color: rgb(235, 0, 0);
}

a, span{
    color: white;
    text-decoration: none;
}

.vidio{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.vidio a{
    padding: 5px;
}

/*Rodape*/
.rodape{
    display: flex;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(#88888800, #470e0e);
}

span{
    padding: 2px;
}

.rodape a {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
}

.rodape p{
    padding: 0;
    margin: 0;
    display: flex;
}

a:hover, .rodape p:hover, span:hover, nav p:hover{
    color: rgb(235, 0, 0);
}

@media screen and (max-width: 750px) {
    .Infor{
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

}

@media screen and (max-width: 450px) {
    .tela1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        justify-content: center;
    }

}

@media screen and (max-width: 575px) {
    iframe {
        width: 420px;
        height: 236px;
    }

}

@media screen and (max-width: 435px) {
    iframe{
        width: 280px;
        height: 157px;
    }

}

@media screen and (max-width: 155px) {
    iframe{
        width: 140px;
        height: 78px;
    }

}